<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Quiz Application</h1>
        
        <form method="POST" action="{{ url_for('index') }}" enctype="multipart/form-data">
            
            <!-- Selezione tipo di quiz -->
            <label for="modality">Select the type of quiz:</label>
            <select id="modality" name="modality" required>
                <option value="single">Single Answer Questions</option>
                <option value="multiple">Multiple Choice Questions</option>
            </select>
            
            <table>
                <tr>
                  <td>
                    <div>
                        <!-- Numero di domande -->
                        <label for="num_questions">Num. questions in the quiz:</label>
                        <input type="number" id="num_questions" name="num_questions" required min="1" max="100" style="width: 150px;">

                        <!-- Caricamento file domande -->
                        <br/>
                        <label for="file_upload">Upload file (.txt):</label>
                        <input type="file" id="file_upload" name="file_upload" accept=".txt" required>
                                        
                        <!-- Impostazione timer -->
                        <br/>
                        <br/>
                        <label for="timer">Set the timer:</label>
                        <select id="timer" name="timer">
                            <option value="0">No timer</option>
                            <option value="1">1 minute</option>
                            <option value="5">5 minutes</option>
                            <option value="10">10 minutes</option>
                            <option value="15">15 minutes</option>
                            <option value="20">20 minutes</option>
                            <option value="30">30 minutes</option>
                            <option value="60">1 hour</option>
                            <option value="90">1 hour 30 minutes</option>
                            <option value="120">2 hours</option>
                        </select>
                    </div>
                  </td>
                  <td>
                    <div>
                      <fieldset>
                        <legend>Score Settings</legend>
                        
                        <!-- Punteggio per risposta corretta -->
                        <label for="correct_score">Points for a correct answer:</label>
                        <input type="number" step="0.01" id="correct_score" name="correct_score" value="1" required>
                        
                        <!-- Punteggio per risposta in bianco -->
                        <br/>
                        <label for="blank_score">Points for a blank answer:</label>
                        <input type="number" step="0.01" id="blank_score" name="blank_score" value="0" required>
                        
                        <!-- Punteggio per risposta sbagliata -->
                        <br/>
                        <label for="wrong_score">Points for a wrong answer:</label>
                        <input type="number" step="0.01" id="wrong_score" name="wrong_score" value="-1" required>
                      </fieldset>
                    </div>
                  </td>
                </tr>
              </table>
              
        
            <!-- Pulsante per avviare il quiz -->
            <button type="submit">Start Quiz</button>
        </form>
        
        <div class="examples">
            <h2>File Format Examples:</h2>
            <div>
                <h3>Single Answer Questions:</h3>
                <pre>
What is the chemical formula for water?
H2O

Who is considered the father of geometry?
Euclid
                </pre>
            </div>
            <div>
                <h3>Multiple Choice Questions:</h3>
                <pre>
Which planet is known as the Red Planet?
a) Venus
b) Mars
c) Jupiter
d) Saturn
Correct answer: b

What event marked the beginning of World War II?
a) The fall of the Bastille
b) The declaration of war on England
c) The invasion of Poland
d) The attack on Pearl Harbor
Correct answer: c
                </pre>
            </div>
        </div>
    </div>
</body>
</html>
